version: "3.8"

services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: pssc
      POSTGRES_PASSWORD: pssc
      POSTGRES_DB: psscdb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
